//
	Restaurant App.js, Built using NodeJS and Express
	By: James Shin
	Date: Oct 10, 2013
	Professor: Stanley Pieda
	Email: piedas@algonquincollege.com 

//
	TODO
	This page will show the 404 error message if the user tries to direct them selves
	into another page that is not defined in app.js
extends layout

block content
	p ERROR